<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Comparison</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comparison.css') }}">
</head>
<body>
    <h1>Image Comparison</h1>
    <div class="comparison-container">
        <div class="image-container">
            <h2>Original Image</h2>
            <img src="{{ url_for('original_file', filename=original_filename) }}" alt="Original Image">
        </div>
        <div class="image-container">
            <h2>Greyscale Image</h2>
            <img src="{{ url_for('processed_file', filename=greyscale_filename) }}" alt="Greyscaled Image">
        </div>
        <div class="image-container">
            <h2>Processed Image</h2>
            <img src="{{ url_for('processed_file', filename=processed_filename) }}" alt="Processed Image">
        </div>
        
    </div>
    <a href="{{ url_for('home') }}">Back to Upload</a>
</body>
</html>
