<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONNX Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/onnxPrediction.css') }}">

</head>
<body>
    <div class="container">
        <img src="{{ url_for('uploaded_file', filename=image_filename) }}" alt="Uploaded Image">
        <h2>Predicted Text: {{ predicted_text }}</h2>
        <h3>Confidence: {{ confidence_score }}%</h3>



        <div class="feedback-section">
            <h3>Was this prediction correct?</h3>
            <button class="small-button" onclick="submitFeedback(true)">Yes</button>
            <button class="small-button" onclick="showCorrectionInput()">No</button>
        
            <div id="correctionDiv" class="hidden">
                <input type="text" id="correctedText" placeholder="Enter correct text">
                <button class="submit-button" onclick="submitFeedback(false)">Submit</button>
            </div>
        </div>
        




        <a href="{{ url_for('home') }}">
            <button class="try-again-button">Try Another Image</button>
        </a>
        
    </div>
    <script>
        function showCorrectionInput() {
            document.getElementById("correctionDiv").classList.remove("hidden");
        }

        function submitFeedback(wasCorrect) {
            if (wasCorrect) {
                alert("Feedback submitted: Prediction was correct.");
            } else {
                let correctedText = document.getElementById("correctedText").value;
                if (correctedText.trim() === "") {
                    alert("Please enter the correct text.");
                    return;
                }
                alert("Feedback submitted: Correct text is '" + correctedText + "'.");
            }
        }
    </script>
</body>
</html>
